h3 {
  font-weight: bold;
  margin-bottom: 3%;
}

.currentConditionsTabs {
  text-align: center;
  width: 100%;
}

.displayDiv {
  width: 100%;
  max-height: 170px;
  overflow-y: auto;
  overflow-x: hidden;
}

.th {
  padding-bottom: 1%;
}
.td {
  padding-bottom: 1%;
}

.thField {
  height: 48px;
  padding: 10px;
  margin: 0;
  font-weight: bold;
  background: #f2f2f2;
  border-radius: 10px;
}

.tdField {
  height: 48px;
  padding: 10px;
  border: solid 2px #f2f2f2;
  border-radius: 10px;
}

#tdEditState {
  display: none;
}

.tableSpace {
  margin: 3%;
  margin-bottom: 5%;
}

.buttons {
  margin: 10px;
  width: 150px;
}

.select {
  background-color: #f2f2f2;
}

#AgriculturalTechniquesSbtBtn,
#agriculturalDateField,
#actionIdField,
#data1Field,
#data2Field,
#CurrentConditionsSbtBtn,
#CurrentConditionsSbtEditionBtn,
#currentConditionsPlantTypeId,
#currentConditionsSowingDate,
#currentConditionsCultivationStateId,
#EventsSbtBtn,
#eventsEventDate,
#eventsEventTypeId,
#eventsLossesPercentage,
#eventsPhotoPath {
  display: none;
}

input,
select {
  width: 100%;
  border: none;
  border-bottom: solid 1px #016801;
}
