<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="margin-left: 10%;">IMGW</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="d-flex">
            <button class="btn btn-outline-success" type="button" (click)="this._authService.LogOut()">Wyloguj</button>
        </form>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="tableSpace">
                <h3>Wybierz lokalizację:</h3>
                <form [formGroup]="localizationsGroup">
                    <div class="thField" style="text-align: center;">
                        <select class="select" formControlName="localizationId" (change)="ChangeLocation()">
                            <option *ngFor="let localization of localizationsList" [ngValue]="localization.LocalizationId">{{localization.Name}}</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tableSpace">
                <h3>Zabiegi Agroturystyczne</h3>
                <form [formGroup]="agriculturalTechniquesGroup" (ngSubmit)="AgriculturalTechniquesAdd()">
                    <input type="hidden" name="login" id="login" class="inputLogin" formControlName="localizationId">
                    <div class="container currentConditionsTabs">
                        <div class="row">
                            <div class="col-3 th">
                                <div class="thField">Data</div>
                            </div>
                            <div class="col-3 th">
                                <div class="thField">Czynnosć</div>
                            </div>
                            <div class="col-6 th" colspan="2">
                                <div class="thField">Dane</div>
                            </div>
                        </div>
                        <div class="displayDiv">
                            <div class="row" *ngFor="let value of agriculturalTechniquesTable">
                                <div class="col-3 td">
                                    <div class="tdField">{{ value.AgriculturalDate }}</div>
                                </div>
                                <div class="col-3 td">
                                    <div class="tdField">{{ value.Name }}</div>
                                </div>
                                <div class="col-3 td">
                                    <div class="tdField">{{ value.Data1 }}</div>
                                </div>
                                <div class="col-3 td">
                                    <div class="tdField">{{ value.Data2 }}</div>
                                    </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:2%;" id="AgriculturalTechniquesAddForm">
                            <div class="col">
                                <div class="tdField" id="agriculturalDateField">
                                    <input type="date" name="agriculturalDate" id="agriculturalDate"formControlName="agriculturalDate">
                                </div>
                            </div>
                            <div class="col">
                                <div class="tdField" id="actionIdField">
                                    <select formControlName="actionId">
                                        <option *ngFor="let action of actionsList" [ngValue]="action.ActionId">{{action.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="tdField" id="data1Field">
                                    <input type="text" name="data1" id="data1"formControlName="data1">
                                </div>
                            </div>
                            <div class="col">
                                <div class="tdField" id="data2Field">
                                    <input type="text" name="data2" id="data2"formControlName="data2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-outline-success buttons" id="AgriculturalTechniquesAddBtn" type="button" value="Dodaj" (click)="AgriculturalTechniquesShowAddStuff() ">
                        <img src="./../../assets/img/plus.png" alt="+"> Dodaj
                    </button>
                    <button class="btn btn-outline-success buttons" id="AgriculturalTechniquesSbtBtn" type="submit" value="Zapisz">
                        Zapisz
                    </button>
                </form>
            </div>
            <div class="tableSpace">
                <h3>Warunki bierzące</h3>
                <form [formGroup]="currentConditionsGroup" (ngSubmit)="CurrentConditionsAdd()">
                    <input type="hidden" name="login" id="login" class="inputLogin" formControlName="localizationId">
                    <div class="container currentConditionsTabs">
                        <div class="row">
                            <div class="col-4 th">
                                <div class="thField">Roślina</div>
                            </div>
                            <div class="col-4 th">
                                <div class="thField">Termin siewu</div>
                            </div>
                            <div class="col-4 th">
                                <div class="thField">Kondycja uprawy</div>
                            </div>
                        </div>
                        <div class="displayDiv">
                            <div class="row" *ngFor="let value of currentConditionsTable">
                                <div class="col td">
                                    <div class="tdField">{{ value.PlantName }}</div>
                                </div>
                                <div class="col td">
                                    <div class="tdField">{{ value.SowingDate }}</div>
                                </div>
                                <div class="col td">
                                    <div class="tdField">{{ value.State }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="CurrentConditionsAddForm" style="margin-top: 2%;">
                            <div class="col td">
                                <div class="tdField" id="currentConditionsPlantTypeId">
                                    <select formControlName="plantTypeId">
                                        <option *ngFor="let plant of plantsList" [ngValue]="plant.PlantTypeId">{{plant.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col td">
                                <div class="tdField" id="currentConditionsSowingDate">
                                    <input type="date" formControlName="sowingDate">
                                </div>
                            </div>
                            <div class="col td">
                                <div class="tdField" id="currentConditionsCultivationStateId">
                                    <select formControlName="cultivationStateId">
                                        <option *ngFor="let state of statesList" [ngValue]="state.CultivationStateId">{{state.Name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-outline-success buttons" id="CurrentConditionsAddBtn" type="button" value="Dodaj" (click)="CurrentConditionsShowAddStuff() ">
                        <img src="./../../assets/img/plus.png" alt="+">Dodaj
                    </button>
                    <button class="btn btn-outline-success buttons" id="CurrentConditionsSbtBtn" type="submit" value="Zapisz">
                        Zapisz
                    </button>
                </form>
            </div>
            <div class="tableSpace">
                <h3>Dziennik zdarzeń</h3>
                <form [formGroup]="eventsGroup" (ngSubmit)="EventsAdd()">
                    <input type="hidden" name="login" id="login" class="inputLogin" formControlName="localizationId">
                    <div class="container currentConditionsTabs">
                    <div class="row">
                        <div class="col-3 th">
                            <div class="thField">Data</div>
                        </div>
                        <div class="col-3 th">
                            <div class="thField">Zdarzenie</div>
                        </div>
                        <div class="col-2 th">
                            <div class="thField">Strata</div>
                        </div>
                        <div class="col-4 th">
                            <div class="thField">Obraz</div>
                        </div>
                    </div>
                    <div class="displayDiv">
                        <div class="row" *ngFor="let value of eventsTable">
                            <div class="col-3 td">
                                <div class="tdField">{{ value.EventDate }}</div>
                            </div>
                            <div class="col-3 td">
                                <div class="tdField">{{ value.EventName }}</div>
                            </div>
                            <div class="col-2 td">
                                <div class="tdField">{{ value.LossesPercentage }}</div>
                            </div>
                            <div class="col-4 td">
                                <div class="tdField">{{ value.PhotoPath }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2%;" id="EventsAddForm">
                        <div class="col-3 td">
                            <div class="tdField" id="eventsEventDate">
                                <input type="date" formControlName="eventDate">
                            </div>
                        </div>
                        <div class="col-3 td">
                            <div class="tdField" id="eventsEventTypeId">
                                <select formControlName="eventTypeId">
                                    <option *ngFor="let event of eventsList" [ngValue]="event.EventTypeId">{{event.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2 td">
                            <div class="tdField" id="eventsLossesPercentage">
                                <input type="number" formControlName="lossesPercentage">
                            </div>
                        </div>
                        <div class="col-4 td">
                            <div class="tdField" id="eventsPhotoPath">
                                <input type="text" formControlName="photoPath">
                            </div>
                        </div>
                    </div>
                    </div>
                    <button class="btn btn-outline-success buttons" id="EventsAddBtn" type="button" value="Dodaj"
                        (click)="EventsAddBtn() ">
                        <img src="./../../assets/img/plus.png" alt="+">Dodaj
                    </button>
                    <button class="btn btn-outline-success buttonsf" id="EventsSbtBtn" type="submit" value="Zapisz">
                        Zapisz
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>